
.App {
  text-align: center;
  padding-top: 0.5em;
  --bg-colour: white;
  --border-colour: #e5e5e5;
  --border-colour-dark: #a0a0a0;
  --highlight-colour: #ff4f1a;
  --highlight-colour-light: #ffebe6;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.items-container {
   min-width: 350px;
   width: 30%;
   margin: 2em auto;
   background-color: var(--bg-colour);

   border: 1px solid var(--border-colour);
   border-radius: 2px 2px;
   box-shadow: 2px 2px 3px var(--border-colour-dark);
}

.fetch-data {
   padding: 0.5em;
   margin: 1.5em 3em;
   border: 1px solid var(--border-colour);
   border-radius: 2px;

   font-weight: bold;
   color: var(--highlight-colour);
}

.fetch-data:hover {
   cursor: pointer;
   background-color: var(--highlight-colour);
   color: white;
}

.movie-list {
   padding: 0;
   margin: 1.5em 3em;
   border: 1px solid var(--border-colour);
   border-radius: 2px 2px;

   text-align: left;
   list-style: none;
}

.movie-list li {
   font-weight: bold;
   padding: 0.4em 0.5em;
}

.movie-list li:nth-child(odd) {
   background-color: white;
}

.movie-list li:nth-child(even) {
   background-color: var(--highlight-colour-light);
}

.movie-list li .year {
   font-weight: normal;
   font-style: italic;
   float: right;
}

.loader {
   font-weight: bold;
   color: black;
   padding: 0 0 1em;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
